@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #ffffff;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin: 0 12px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #888;
}

.contact-btn button {
    background: #000;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact-btn button:hover {
    background: #333;
}

/* slider */

.slider>div {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
}

.slider>img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 28px;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.hero-text h1 {
    font-size: 83px;
    margin-bottom: 0px;
    color: white;
}

.hero-text p {
    font-size: 40px;
    margin-bottom: 13px;
    color: white;
}

.hero-btn {
    background-color: #C9C9C9;
    padding: 8px 50px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
}

.hero-btn:hover {
    background-color: #333;
}

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Container that holds the text */
.slider-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
}

.slider-wrapper {
    display: flex;
    width: 500%;
    /* 5 images = 100% * 5 */
    height: 100%;
    transition: transform 1s ease-in-out;
    /* smooth slide */
}

.slider-img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.hero-text {
    color: white;
    pointer-events: auto;
}

.info-text {
    text-align: center;
    padding: 50px 0px 0px;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.deni-text {
    text-align: center;
    padding: 14px;
    font-size: 12px;
    color: #808080;
    font-weight: 400;
    padding: 25px 0px 0px;
}

/* category of studio */
.category-of-studio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    width: 100%;
}

.inside-category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    gap: 20px;
}

.studio-card {
    position: relative;
    /* width: 250px;
  height: 250px; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 5px 12px;
    border-radius: 6px;
}

/* category-of- gallery */
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    max-width: 1400px;
    margin: 20px 92px;
}

/* Common card styles */
.photo-card {
    display: flex;
    flex-direction: column;
    /* align-items: center;
  text-align: center; */
}

.photo-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.photo-card img:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.photo-card p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
}

/* ===== CUSTOM GRID PLACEMENT ===== */

/* Row 1 */
.item1 {
    grid-column: 1;
    grid-row: 1;
}

/* Couple */
.item2 {
    grid-column: 2 / span 2;
    grid-row: 1;
}

/* Pre Wedding */
.item3 {
    grid-column: 4;
    grid-row: 1;
}

/* Model */

/* Row 2 */
.item4 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

/* Product */
.item5 {
    grid-column: 3;
    grid-row: 2;
}

/* Natural */
.item6 {
    grid-column: 4;
    grid-row: 2;
}

/* Diamond */

/* Row 3 */
.item7 {
    grid-column: 1;
    grid-row: 3;
}

/* Wedding */
.item8 {
    grid-column: 2 / span 2;
    grid-row: 3;
}

/* Engagement */
.item9 {
    grid-column: 4;
    grid-row: 3;
}

/* Professional */
@media (max-width: 1023px) {
    .photo-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    /* On tablet, span-2 items take full row */
    .item2,
    .item4,
    .item8 {
        grid-column: span 2;
    }

    .item1,
    .item3,
    .item5,
    .item6,
    .item7,
    .item9 {
        grid-column: span 1;
    }
}

@media (max-width: 767px) {
    .photo-gallery {
        grid-template-columns: 1fr;
    }

    .photo-card {
        grid-column: span 1 !important;
    }
}

/* blogs */
.blog {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 30px;
    padding: 2% 10%;
}

.blog-card {
    width: 300px;
    /* border-radius: 12px; */
    /* box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    text-align: center;
    /* background: #fff; */
}

.upload-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.blog-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: 0.3s ease;
}

.upload-container input[type="file"] {
    display: none;
}

.blog-card h3 {
    margin-top: 15px;
    font-size: 15px;
    font-weight: semibold;
    text-transform: capitalize;
}

.blog-card p {
    margin-top: 10px;
    font-size: 13px;
    color: #555;
    font-weight: 300;
}

.love-text {
    text-align: start;
    padding: 50px 0px 0px 14px;
    font-size: 2em;
    font-weight: 400;
}

.Enquire-btn {
    background-color: #333333;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: fit-content;
}

.Enquire-btn:hover {
    background-color: #333;
}

.btn-Enquire {
    padding: 10px 0px 0px 14px;
}

/* colgimg */
.colgimg {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    /* No gap between images */
    grid-auto-rows: 170px;
    margin-bottom: 60px;
}

.colg-img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
    display: block;
    /* Removes extra space below image */
}

/* footer */
.footer {
    background-color: #EBEDF0;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
    color: #000;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.footer-logo img {
    max-width: 167px;
}

.footer-column {
    min-width: 180px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.footer-column p {
    font-size: 14px;
    font-weight: normal;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.footer-column ul li {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: normal;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000;
}

.footer-column p {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;

}

.footer-icons a {
    margin-left: 10px;
    font-size: 18px;
    color: #000;
}

.footer-p {
    margin-top: 9px
}

.slider-img {
    transition: opacity 0.5s ease-in-out;
}

.hamburger {
    display: none;
}

.enquire {
    padding: 20px;
}

/* media query  */
/* mobile */
@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        z-index: 999;
        backdrop-filter: blur(10px);
        position: absolute;
        top: 82%;
        left: 0;
        padding: 10px 2px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .contact-btn {
        display: none;
    }

    .photo-gallery {
        display: grid;
        gap: 20px;
        padding: 10px 10px 10px 10px;
        max-width: 1400px;
        margin: auto;
    }

    .navbar {
        position: fixed;
        top: 30px;
        width: 93vw;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        z-index: 999;
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        left: 12px;
    }

    .nav-links.show-menu {
        display: flex;
    }

    .hamburger img {
        transition: transform 0.3s ease-in-out;
    }

    .hamburger.rotate img {
        transform: rotate(90deg);
        /* You can change this angle */
    }


}

/* tablet */
@media (min-width: 601px) and (max-width: 1024px) {}